@charset "utf-8";
@use '_mixin';

.formArea {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 24px;
  padding: 16px;

  .formItem {
    display: flex;
    align-items: center;
    gap: 8px;

    .label {
      min-width: 80px;
      display: flex;
      gap: 2px;
      font-size: 14px;
      font-weight: 600;
      line-height: 15px;
      color: var(--gray10);
      white-space: nowrap;

      &::after {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 4px;
        background: transparent;
        margin-top: 2px;
      }
    }

    .required {
      &::after {
        background: var(--red40);
      }
    }

    .form {
      flex: 1 1 0%;
      display: flex;
      align-items: center;
      gap: 4px;

      .flex-1 {
        flex: 1 1 0%;
      }
    }

    .form+.label {
      margin-left: 16px;
    }
  }

  &.searchBox {
    position: relative;
    background-color: var(--gray80);
    border-radius: 8px;
    margin-bottom: 16px;

    .searchBtn {
      position: absolute;
      right: 16px;
      bottom: 16px;
    }
  }  
}

.total {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
  font-size: 13px;
  color: var(--gray40);

  &::before {
    content: "Total :";
  }

  span {
    color: var(--black);
    font-weight: 600;
  }
}


.tabMenu {
  display: flex;
  gap: 4px;
  width: 100%;
  height: 44px;
  padding: 4px;
  background-color: var(--gray80);
  border-radius: 6px;
  margin-bottom: 16px;

  button {
    flex: 1;
    border-radius: 6px;
    color: var(--gray10);
    cursor: pointer;
    &.act {
      background-color: var(--green30);
      span {
        font-weight: 600;
        color: white;
      }
    }
  }
}

.tabContainer {
  .comment {
    font-size: 14px;
    color: var(--red30);
    margin-bottom: 8px;

    &::before {
      content: "※";
      margin-right: 4px;
    }
  }
}

.inputForm {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--line);

  table {
    width: 100%;

    th, td {
      font-size: 14px;
      border-bottom: 1px solid var(--line);
    }

    th {
      padding: 6px 16px;
      text-align: left;
      background-color: var(--gray80);
    }

    td {
      padding: 6px;
    }

    tr:last-child {
      th, td {
        border: 0;
      }
    }
  }
}